.searchGoods
  width 4.4rem
  height .56rem
  border-radius 5px
  background-color  #eee
  text-align center
  line-height .56rem
  .icon
    font-size 18px
    position relative
    top 2px
  input
    background-color  #eee
    width 3.25rem
    font-size 14px