@import "../../common/stylus/mixins.styl"
.good-list
  a
    vertical-align: top
    display inline-block
    width 1.44rem
    margin-right .34rem
    text-align center
    img
      width 1.44rem
      height 1.44rem
    &:nth-child(3n)
      margin-right 0
    .title
      color black
      display inline-block
      font-size .24rem
      width 1.44rem
      height .72rem
.goodList2
  .sub
    width 5.28rem
    margin-bottom .12rem
    clearFix()
    h4
      font-weight bold
      font-size .28rem
      height .41rem
      padding-bottom .08rem
      border-bottom .02rem #ECECEC solid
      margin-bottom .24rem
    .item
      float left
      width 1.44rem
      height 2.16rem
      margin-right .34rem
      &:nth-child(3n+1)
         margin-right 0
      a
        vertical-align: top
        width 1.44rem
        height 2.16rem
        display inline-block
        text-align center
        img
          width  1.44rem
          height  1.44rem
        .title
          display inline-block
          color black
          font-style normal
          width 1.44rem
          height .72rem
          font-size .24rem